// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Class selectors */

@media (max-width:1024) {
    .container-fluid {
        margin: auto 10%;
    }
}

@media (min-width:1024) {
    .container-fluid {
        margin: auto 20%;
    }
}

@media screen and (max-width: 480px) {
    .messages, .create {
        padding: 0 20px;
    }
}

.journal, .create, .show {
  margin: 40px 0;
}

.title .new-journal,
.create .actions input,
.show .journal a {
    background-color: #355C7D;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    padding: 12px 24px;
    transition: background-color 0.5s;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    -webkit-appearance: none;
}

.title-bar {
  font-weight: 300;
  padding: 16px;
  margin: 20px auto;
  width: 80%;
}

.title {
    color: #C06C84;
    font-weight: 300;
    width: 50%;
    font-size: 62px;
}

.new-journal a {
    color: #fff;
}

.new-entry {
    position: relative;
    right: 0px;
}

.create textarea, .create input {
    border-radius: 8px;
}

.field {
    margin: auto 10%;
}

.create-btn input {
    margin-left: 10%;
}

.view-btn input {
    margin-left: 10%;
}

.show .time {
    margin-top: 100px;
}

.journal {
    position: relative;
    border-radius: 8px;
}

.journal .delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0 5px 5px 0;
}

.delete a {
    color: #E84A5F;
}

.entries a, .view {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 8px 0px 8px 0px !important;
}

.view-btn {
    position: absolute;
    right: 0px;
    top: 33%;
}

.view-btn input {
    border-radius: 0px 8px 8px 0px !important;
    height: 54px;
}

.alert {
    position: absolute;
    left: 220px;
}

.journal {
    background-color: #fff;
    font-weight: 300;
    padding: 16px;
    margin: 20px auto;
    width: 80%;
    font-size: 24px;
}

.edit_journal {
     width: 100%;
    margin: auto;
    align-self: center;
    position: static;
}

p.time {
  color: #2A363B;
  font-size: 12px;
  margin-top: 12px;
}
