// Place all the styles related to the JournalEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Class selectors */

@media (max-width:1024) {
    .container-fluid {
        margin: auto 10%;
    }
}

@media (min-width:1024) {
    .container-fluid {
        margin: auto 20%;
    }
}

@media screen and (max-width: 480px) {
    .messages, .create {
        padding: 0 20px;
    }
}

.entries, .create, .show {
  margin: 40px 0;
}

.entries .actions a,
.create .actions input,
.title-bar .new-entry,
.show .entry a {
    background-color: #355C7D;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    padding: 12px 24px;
    transition: background-color 0.5s;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    -webkit-appearance: none;
}

.create textarea, .create input {
    border-radius: 8px;
    font-size: 24px;
}

.field {
    margin: auto 10%;
}

.create-btn input {
    margin-left: 10%;
}

.view-btn input {
    margin-left: 10%;
}

.show .time {
    margin-top: 100px;
}

.entry {
    position: relative;
    border-radius: 8px;
}

.entry .delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0 5px 5px 0;
}

.delete a {
    color: #E84A5F;
}

.edit {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px 5px 0 0;
}

.edit a {
    color: #F8B195;
}

.view-btn {
    position: absolute;
    right: 0px;
    top: 33%;
}

.view-btn input {
    border-radius: 0px 8px 8px 0px !important;
    height: 54px;
}

.alert {
    position: absolute;
    left: 220px;
}

.new-entry a {
    color: #fff;
}

.entry {
    background-color: #fff;
    font-weight: 300;
    padding: 16px;
    margin: 20px auto;
    width: 80%;
    font-size: 24px;
}

.back {
  margin: 20px;
  font-size: 20px;
}

.edit_entry {
     width: 100%;
    margin: auto;
    align-self: center;
    position: static;
}

p.time {
  color: #2A363B;
  font-size: 12px;
  margin-top: 12px;
}
