<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <i class="fas fa-bookmark fa-3x"></i>
        <span class="header-title"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="row title-bar">
    <div class="title">
      New Journal
    </div>
  </div>
  <div class="row">
    <%= form_with model: @journal do |form| %>
      <div class="col-md-12 field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="col-md-12 submit">
        <%= form.submit "Create", class: 'btn' %>
      </div>

    <% end %>
  </div>
  <div class="row footer">
      <div class="col-md-12">
          <div class="short-intro">
            <p>Create personal journals with Minerva</p><br>
          </div>
      </div>
  </div>
</div>
